

extends layout

block content
  .row
    .col-md-10.col-xs-12
      .video-area
        iframe(src =`https://www.pornhub.com/embed/${tgtVideo.video_id}` class = "iframeVideo" frameborder="0" width="924" height="520" scrolling="no" allowfullscreen)
          //- <iframe src= "https://www.pornhub.com/embed/"+'${tgtVideo.video_id}` frameborder="0" width="924" height="520" scrolling="no" allowfullscreen></iframe>
      .video-ad
        .ad-item
          .
            <a href="https://click.dtiserv2.com/Click2/2352003-352-214628" target="_blank" rel="noopener"><img src="https://affiliate.dtiserv.com/image/heydouga/2352003.gif" border="0"></a>
      .video-description
        if tgtVideo.title_jp
          p.name #{tgtVideo.title_jp}
        else
          p.name #{tgtVideo.title}
        ul.list
          li #{tgtVideo.views}万回再生
          li 再生時間：#{tgtVideo.duration}
          li Score: #{tgtVideo.score}Points
          ii 投稿日：#{tgtVideo.publish_date}
        if tgtVideo.tags
          each tag in tgtVideo.tags
            .tag
              // a(href=`${tag["tag_name"]}`).badge.badge-info #{tag["tag_name"]}
              .badge.badge-info #{tag["tag_name"]}
        if tgtVideo.categories
          each category in tgtVideo.categories
            .category
              // a(href=`${category["category"]}`).badge.badge-warning #{category["category"]}
              .badge.badge-warning #{category["category"]}
        if tgtVideo.pornstars
          each pornstar in tgtVideo.pornstars
            .pornstar
              // a(href=`${pornstar["pornstar_name"]}`)
              .badge.badge-danger #{pornstar["pornstar_name"]}

    .col-md-2.d-none.d-md-block
      .side-bar
        a(href="https://click.dtiserv2.com/Click102/1006006-6-214628" target="_blank" rel="noopener")
          img(src="https://affiliate.dtiserv.com/image/carib/06-150-02.jpg" border="0")
  .row
    .col-md-10.col-xs-12
      - var i = 1
      h5 関連動画
      section.box-relation-entry
        each video in rltnVideos
          .inner
            a(href = `/video/${video.video_id}`)
              .image
                img(src=`${video.default_thumb}`)
                span.playtime #{video.duration}
              if video.title_jp
                p.name #{video.title_jp}
              else
                p.name #{video.title}
              if (i > 7)
                - break
              - i++
    .col-md-2.d-none.d-md-block
      .side-bar
        a(href="https://click.dtiserv2.com/Click102/1006006-6-214628" target="_blank" rel="noopener")
          img(src="https://affiliate.dtiserv.com/image/carib/06-150-02.jpg" border="0")
  .row
    .col-md-10.col-xs-12
      - var i = 1
      h5 こちらもお勧め
      section.box-relation-entry
        each item in dmmBody.result.items
          .inner
            a(href = `${item.affiliateURL}`)
              .dmm-image
                img(src=`${item.imageURL.large}`)
              p.dmm-name #{item.title}
                if (i > 8)
                  - break
                - i++     
